
Framework/bin/
Framework/bin/Debug/netstandard2.0/Framework.pdb
Royale.Tests/bin/
Royale.Tests/bin/Debug/netcoreapp3.1/Royale.dll
Royale.Tests/bin/Debug/netcoreapp3.1/Framework.pdb
Royale.Tests/bin/Debug/netcoreapp3.1/Framework.dll
Royale/obj/Debug/netstandard2.0/
Royale/obj/Debug/netstandard2.0/Royale.dll
Royale/obj/Debug/netstandard2.0/Royale.csprojAssemblyReference.cache
Royale/obj/Debug/netstandard2.0/Royale.csproj.FileListAbsolute.txt
Royale/obj/Debug/netstandard2.0/Royale.AssemblyInfo.cs
Royale/bin/Debug/netstandard2.0/Royale.pdb
Royale/bin/Debug/netstandard2.0/Royale.dll
Royale/bin/Debug/netstandard2.0/Framework.pdb
Royale/bin/Debug/netstandard2.0/Framework.dll
Framework/obj/Debug/netstandard2.0/
Framework/obj/Debug/netstandard2.0/Framework.dll
Framework/obj/Debug/netstandard2.0/Framework.csprojAssemblyReference.cache
Framework/obj/Debug/netstandard2.0/Framework.AssemblyInfo.cs
Framework/bin/Debug/netstandard2.0/Framework.pdb
Framework/bin/Debug/netstandard2.0/Framework.dll
AIT/obj/Debug/netstandard2.0/
AIT.Tests/obj/Debug/
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.csprojAssemblyReference.cache
Framework/obj/Debug/netstandard2.0/Framework.assets.cache
AIT/bin/Debug/
AIT/bin/Debug/netstandard2.0/AIT.pdb
AIT/bin/Debug/netstandard2.0/AIT.dll
AIT/bin/Debug/netstandard2.0/AIT.pdb
AIT/obj/Debug/
AIT/obj/Debug/netstandard2.0/AIT.csprojAssemblyReference.cache
AIT.Tests/bin/
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.Tests.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
AIT.Tests/obj/
Framework/obj/
AIT/bin/
AIT/bin/Debug/netstandard2.0/AIT.pdb
AIT/obj/
AIT/obj/Debug/netstandard2.0/AIT.dll
AIT/obj/Debug/netstandard2.0/AIT.pdb
AIT.Tests/bin/
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.Tests.dll
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.Tests.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
AIT.Tests/obj/
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.dll
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.pdb
Framework/obj/Debug/netstandard2.0/Framework.csprojAssemblyReference.cache
AIT/bin/
AIT/bin/Debug/netstandard2.0/AIT.pdb
AIT/obj/
AIT/obj/Debug/netstandard2.0/AIT.dll
AIT/obj/Debug/netstandard2.0/AIT.pdb
AIT.Tests/bin/
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.Tests.dll
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.Tests.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.assets.cache
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.csprojAssemblyReference.cache
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.dll
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.pdb
Framework/obj/Debug/netstandard2.0/Framework.assets.cache
Framework/obj/Debug/netstandard2.0/Framework.csprojAssemblyReference.cache
AIT/obj/Debug/netstandard2.0/AIT.assets.cache
AIT/obj/Debug/netstandard2.0/AIT.pdb
AIT/obj/Debug/netstandard2.0/AIT.dll
AIT/obj/Debug/netstandard2.0/AIT.csprojAssemblyReference.cache
AIT/obj/Debug/netstandard2.0/AIT.assets.cache
AIT/bin/Debug/netstandard2.0/AIT.pdb
AIT/bin/Debug/netstandard2.0/AIT.dll
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.dll
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.Tests.dll
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.Tests.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.assets.cache
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.csprojAssemblyReference.cache
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.dll
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.pdb
Framework/obj/Debug/netstandard2.0/Framework.assets.cache
AIT/bin/Debug/netstandard2.0/AIT.dll
AIT/bin/Debug/netstandard2.0/AIT.pdb
AIT/obj/Debug/netstandard2.0/AIT.dll
AIT/obj/Debug/netstandard2.0/AIT.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.dll
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.Tests.dll
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.Tests.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.csprojAssemblyReference.cache
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.dll
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.pdb
AIT/bin/Debug/netstandard2.0/AIT.dll
AIT/bin/Debug/netstandard2.0/AIT.pdb
AIT/obj/Debug/netstandard2.0/AIT.dll
AIT/obj/Debug/netstandard2.0/AIT.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.dll
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.Tests.dll
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.Tests.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.csprojAssemblyReference.cache
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.dll
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.pdb
Framework/obj/Debug/netstandard2.0/Framework.csprojAssemblyReference.cache
TestResults/viewOrders/log.txt
TestResults/Logout/log.txt
TestResults/Login/log.txt
Framework/obj/Debug/netstandard2.0/Framework.pdb
Framework/obj/Debug/netstandard2.0/Framework.dll
Framework/obj/Debug/netstandard2.0/Framework.csprojAssemblyReference.cache
Framework/obj/Debug/netstandard2.0/Framework.csproj.CoreCompileInputs.cache
Framework/obj/Debug/netstandard2.0/Framework.assets.cache
Framework/obj/project.nuget.cache
Framework/obj/project.assets.json
Framework/obj/Framework.csproj.nuget.g.props
Framework/obj/Framework.csproj.nuget.dgspec.json
Framework/Logging/Logger.cs
Framework/bin/Debug/netstandard2.0/Framework.pdb
Framework/bin/Debug/netstandard2.0/Framework.dll
Framework/bin/Debug/netstandard2.0/Framework.deps.json
Framework/FW.cs
Framework/Framework.csproj
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.pdb
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.dll
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.csprojAssemblyReference.cache
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.csproj.CoreCompileInputs.cache
AIT.Tests/obj/Debug/netcoreapp3.1/AIT.Tests.assets.cache
AIT.Tests/obj/project.nuget.cache
AIT.Tests/obj/project.assets.json
AIT.Tests/obj/AIT.Tests.csproj.nuget.g.targets
AIT.Tests/obj/AIT.Tests.csproj.nuget.g.props
AIT.Tests/obj/AIT.Tests.csproj.nuget.dgspec.json
AIT.Tests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
AIT.Tests/bin/Debug/netcoreapp3.1/Framework.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/Framework.dll
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.Tests.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.Tests.dll
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.Tests.deps.json
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.pdb
AIT.Tests/bin/Debug/netcoreapp3.1/AIT.dll
AIT/obj/Debug/netstandard2.0/AIT.pdb
AIT/obj/Debug/netstandard2.0/AIT.dll
AIT/obj/Debug/netstandard2.0/AIT.csprojAssemblyReference.cache
AIT/obj/Debug/netstandard2.0/AIT.csproj.CoreCompileInputs.cache
AIT/obj/Debug/netstandard2.0/AIT.assets.cache
AIT/obj/project.nuget.cache
AIT/obj/project.assets.json
AIT/obj/AIT.csproj.nuget.dgspec.json
AIT/bin/Debug/netstandard2.0/Framework.pdb
AIT/bin/Debug/netstandard2.0/Framework.dll
AIT/bin/Debug/netstandard2.0/AIT.pdb
AIT/bin/Debug/netstandard2.0/AIT.dll
AIT/bin/Debug/netstandard2.0/AIT.deps.json
